@model  List<string>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="ListType" asp-action="Add" method="post" enctype="application/x-www-form-urlencoded">
    <input class="form-control" type="text" name="name"/>
    <button class="btn btn-outline-primary" type="submit">Kaydet</button>
</form>
<a class="btn btn-outline-warning" asp-controller="ListType" asp-action="LeftPop" >Baştan Sil</a>

@foreach (var item in Model)
{
    <h1>@item <a class="btn btn-outline-danger" asp-controller="ListType" asp-action="Delete" asp-route-name="@item">Sil</a></h1>
}